[bumpversion]
current_version = 2.2.17
commit = True
tag = True

[bumpversion:file:package/flake-pilot.spec]

[bumpversion:file:podman-pilot/Cargo.toml]

[bumpversion:file:firecracker-pilot/Cargo.toml]

[bumpversion:file:flake-ctl/Cargo.toml]

[bumpversion:file:flake-ctl/debbuild/oci-deb]

[bumpversion:file:firecracker-pilot/firecracker-service/service/Cargo.toml]

[bumpversion:file:firecracker-pilot/firecracker-service/service-communication/Cargo.toml]

[bumpversion:file:firecracker-pilot/guestvm-tools/sci/Cargo.toml]

