[bumpversion]
current_version = 2.1.2
commit = True
tag = True

[bumpversion:file:package/flake-pilot.spec]

[bumpversion:file:podman-pilot/Cargo.toml]

[bumpversion:file:flake-ctl/Cargo.toml]

[bumpversion:file:flake-ctl/debbuild/oci-deb]

