Source: oci-pilot
Section: devel
Priority: optional
Maintainer: Nader Hariri <nader.hariri@elektrobit.com>
Build-Depends: cargo, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/Elektrobit/oci-pilot
Vcs-Git: https://github.com/Elektrobit/oci-pilot.git
Vcs-Browser: https://github.com/Elektrobit/oci-pilot
Rules-Requires-Root: no

Package: oci-pilot
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: snapless snap using OCI images, podman and pilot to control them
